pipeline/PL_SENTIMENT_ANAYSIS_Parent.json
{
	"name": "PL_SENTIMENT_ANAYSIS_Parent",
	"properties": {
		"activities": [
			{
				"name": "Success - Send Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-24.northcentralus.logic.azure.com:443/workflows/e563cd6e054947a0bba76400b20e9983/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=20ZmY-leW6Y0zRTq1fDav_RC2Pf7m9KDJDG6-EIc-Kw",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n\"title\": \"PIPELINE RUN FINISHED\",\n\"dataFactoryName\" : \"@{pipeline().DataFactory}\",\n\"pipelineName\" : \"@{pipeline().Pipeline}\",\n\"pipelineRunId\": \"@{pipeline().RunId}\",\n\"message\":\"\",\n\"time\" : \"@{pipeline().TriggerTime}\",\n\"color\":\"Green\"\n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Failure - Send Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-24.northcentralus.logic.azure.com:443/workflows/e563cd6e054947a0bba76400b20e9983/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=20ZmY-leW6Y0zRTq1fDav_RC2Pf7m9KDJDG6-EIc-Kw",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\n\"title\": \"PIPELINE RUN FINISHED\",\n\"dataFactoryName\" : \"@{pipeline().DataFactory}\",\n\"pipelineName\" : \"@{pipeline().Pipeline}\",\n\"pipelineRunId\": \"@{pipeline().RunId}\",\n\"message\":\"@{activity('Data Flow').output.error.message}\",\n\"time\" : \"@{pipeline().TriggerTime}\",\n\"color\":\"Red\"\n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_SENTIMENT_ANAYSIS_Child",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"SpecCode": {
				"type": "string",
				"defaultValue": "feedback"
			},
			"FileName": {
				"type": "string",
				"defaultValue": "Customer Feedback"
			}
		},
		"variables": {
			"SentimentAnalysis": {
				"type": "Array"
			},
			"FileNameWithTimeStamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SentimentAnalysis"
		},
		"annotations": []
	}
}